<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>AplicatieInCrys</display-name>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>test.incrys@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>incrys1234</param-value>
  </context-param>

  <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
  </welcome-file-list>
</web-app>